<div class="container text-center">
  <div class="col-12 mt-4">
    <h2>Cambia Datos</h2>
    <div class="col-4 mx-auto">
      <div class="input-group">
        
        <select class="form-select form-select-sm no-outline" aria-label="form-select-sm" >
        <option value="" disabled selected>Seleccione una opción</option>
          <option *ngFor="let car of cars" [ngValue]="car">{{ car.plateNumber }} - {{ car.model }}</option>
        </select>


        <div class="input-group-append" style="margin-left: 10px;">
          <!-- Añado el disparador del modal aquí -->
          <button class="btn btn-outline-secondary" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <span class="material-symbols-outlined">search</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title align-self-center" id="exampleModalLabel">Buscar por placa</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label for="plateNumber">Por favor, ingrese su placa:</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control no-outline" id="plateNumber" placeholder="Número de placa">
          <button class="btn btn-outline-secondary" type="button" id="searchButton">
            <span class="material-symbols-outlined">search</span>
          </button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Guardar cambios</button>
      </div>
    </div>
  </div>
</div>
